*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_page{
    background-color: #000;
    height: 100vh;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: 100% 50%;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
nav ul li a:hover{
    color: #ff4d30;
    transition: 0.3s;
}
.header_title h1{
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    margin-top: 150px;
    width: 590px;
    font-family: sans-serif;
    letter-spacing: 3px;
    line-height: 160%;
}
.header_title p{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    width: 520px;
    margin-top: 20px;
    line-height: 160%;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.header_title button{
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #ff4d30;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header_title button:hover{
    background-color: #e84325;
    transition: 0.3s;
}.header_title {
    margin-left: 150px;
}
